/* styles.css */

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
  margin-top: 20px; /* Adjust margin as needed */
}

.nv-color {
  color: black;
}

.job {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.job h2 {
  margin-top: 0;
}

.job p {
  margin: 0;
}

.job-links {
  margin-top: 10px;
}

.job-links .btn {
  margin-right: 10px;
}

/* Navbar */
.navbar {
  background-color: #f5d86b;
}

.navbar-nav .nav-item .nav-link {
  border: 1px solid black;
  padding: 0.5rem 1rem;
  margin-right: 10px;
  border-radius: 5px;
  background-color: rgb(55, 51, 51);
  color: white;
}

/* Footer */
.footer {
  background-color: #f5d86b; /* Honey bee color */
  color: black; /* Text color */
}

/* Heading */
.display-5 {
  color: #333; /* Dark gray color */
  margin-top: 20px; /* Adjust as needed */
}

.hive-updates {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
